In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gebruiker\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: requests in c:\users\gebruiker\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (2.10)

In [3]:
!pip install requests

Requirement already satisfied: requests in c:\users\gebruiker\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gebruiker\anaconda3\lib\site-packages (from requests) (2020.6.20)

In [4]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\gebruiker\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\gebruiker\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [5]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Requirement already satisfied: six in c:\users\gebruiker\anaconda3\lib\site-packages (from plotly) (1.15.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.3.1 tenacity-8.0.1

In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
data=requests.get(url).text

In [8]:
soup=BeautifulSoup(data,'html5lib')

In [13]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for row in soup.find('tbody').find_all('tr'):
    col=row.find_all('td')
    date=col[0].text
    open=col[1].text
    high=col[2].text
    low=col[3].text
    close=col[4].text
    adj_close=col[5].text
    volume=col[6].text
    netflix_data = netflix_data.append({"Date":date, "Open":open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [14]:
netflix_data.head()

           Date    Open    High     Low   Close Adj Close       Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21    528.21   78,560,600
1  May 01, 2021  512.65  518.95  478.54  502.81    502.81   66,927,600
2  Apr 01, 2021  529.93  563.56  499.00  513.47    513.47  111,573,300
3  Mar 01, 2021  545.57  556.99  492.85  521.66    521.66   90,183,900
4  Feb 01, 2021  536.79  566.65  518.28  538.85    538.85   61,902,300

In [15]:
netflix_data.tail()

            Date    Open    High     Low   Close Adj Close       Volume
65  Jan 01, 2016  109.00  122.18   90.11   91.84     91.84  488,193,200
66  Dec 01, 2015  124.47  133.27  113.85  114.38    114.38  319,939,200
67  Nov 01, 2015  109.20  126.60  101.86  123.33    123.33  320,321,800
68  Oct 01, 2015  102.91  115.83   96.26  108.38    108.38  446,204,400
69  Sep 01, 2015  109.35  111.24   93.55  103.26    103.26  497,401,200

In [16]:
read_html_pandas_data=pd.read_html(url)

In [17]:
read_html_pandas_data=pd.read_html(str(soup))

In [18]:
netflix_dataframe=read_html_pandas_data[0]

In [19]:
netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [20]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data=requests.get(url).text

In [22]:
soup=BeautifulSoup(html_data, "html5lib")

In [23]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [24]:
amazon_data.head()

           Date      Open      High       Low     Close Adj Close       Volume
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20  3,206.20   71,528,900
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93  3,256.93   77,556,200
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04  3,168.04   90,810,500
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  3,036.15  116,226,100
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  3,148.73  115,899,300

In [28]:
for col in amazon_data.columns:
    print(col)

Date
Open
High
Low
Close
Adj Close
Volume

In [29]:
list(amazon_data.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [32]:
amazon_data.tail()

            Date    Open    High     Low   Close Adj Close       Volume
56  May 01, 2016  663.92  724.23  656.00  722.79    722.79   90,614,500
57  Apr 01, 2016  590.49  669.98  585.25  659.59    659.59   78,464,200
58  Mar 01, 2016  556.29  603.24  538.58  593.64    593.64   94,009,500
59  Feb 01, 2016  578.15  581.80  474.00  552.52    552.52  124,144,800
60  Jan 01, 2016  656.29  657.72  547.18  587.00    587.00  130,200,900

In [34]:
amazon_data.iloc[-1]["Open"]

'656.29'

In [35]:
soup.title