In [1]:
!pip install bs4
#!pip install requests

Requirement already satisfied: bs4 in c:\users\gebruiker\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\gebruiker\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [5]:
soup=BeautifulSoup(html, "html.parser")

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [7]:
tag_object=soup.title
print(tag_object)

<title>Page Title</title>

In [8]:
type(tag_object)

bs4.element.Tag

In [9]:
tag_object=soup.h3
tag_object

In [10]:
tag_child=tag_object.b
tag_child

In [11]:
parent_tag=tag_child.parent
parent_tag

In [12]:
tag_object

In [13]:
tag_object.parent

In [15]:
sibling1=tag_object.next_sibling
sibling1

In [16]:
sibling2=sibling1.next_sibling
sibling2

In [17]:
sibling3=sibling2.next_sibling
sibling3

In [18]:
sibling3.next_sibling

In [21]:
sibling3.next_sibling.next_sibling

In [22]:
tag_child['id']

'boldest'

In [23]:
tag_child.attrs

{'id': 'boldest'}

In [24]:
tag_child.get('id')

'boldest'

In [25]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [26]:
type(tag_string)

bs4.element.NavigableString

In [27]:
unicode_string=str(tag_string)
unicode_string

'Lebron James'

In [30]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)
for i in enumerateGrocery:
    print(i)
print(type(enumerateGrocery))

(0, 'bread')
(1, 'milk')
(2, 'butter')
<class 'enumerate'>

In [31]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [32]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [33]:
table_bs = BeautifulSoup(table, 'html.parser')
table_bs

<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>

In [35]:
table_bs.find_all(id='flight')

In [37]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [38]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [39]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

In [40]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [41]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [42]:
two_tables_bs=BeautifulSoup(two_tables,"html.parser")

In [44]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [49]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [51]:
url = "http://www.ibm.com"

In [52]:
data=requests.get(url).text

In [53]:
soup=BeautifulSoup(data,"html5lib")

In [54]:
for link in soup.find_all('a',href=True):
    print(link.get('href'))

https://www.ibm.com/nl/en
https://www.ibm.com/sitemap/nl/en
https://www.ibm.com/nl-en/events/think-summit?lnk=nlhpv18l1
https://www.ibm.com/blogs/think/be-en/2021/09/01/the-aiops-management-user-group-discover-the-benefits-of-a-community-of-experts-by-experts-and-for-experts/?lnk=nlhpv18nf1
https://www.ibm.com/it-infrastructure/power/power10?lnk=nlhpv18f1
https://www.ibm.com/products/supply-chain-intelligence-suite?lnk=nlhpv18f2
https://www.ibm.com/nl-en/marketing/this-is-ibm?lnk=nlhpv18f3
/nl-en/financing/pre-owned/ibm-certified-used-equipment?nlhpv18f4=
https://www.ibm.com/cloud/watson-assistant?lnk=nlhpv18t1
https://www.ibm.com/nl-en/cloud/satellite?lnk=nlhpv18t2
https://www.ibm.com/nl-en/cloud/sap?lnk=nlhpv18t3
https://www.ibm.com/cloud/blog/announcements/ibm-cloud-for-vmware-special-promotion?lnk=nlhpv18t4
https://developer.ibm.com/depmodels/cloud/?lnk=hpv18ct16
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpv18ct19
https://www.ibm.com/demos/?lnk=hpv18ct12
https://developer.ibm.com/?lnk=hpv18ct9
https://www.ibm.com/docs/en?lnk=hpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/support/home/?lnk=hpv18ct11
https://www.ibm.com/training/?lnk=hpv18ct15
/cloud/hybrid?lnk=hpv18pt14
/cloud/learn/public-cloud?lnk=hpv18ct1
/watson?lnk=ushpv18pt17
/garage?lnk=hpv18pt13
/blockchain?lnk=hpv18pt4
https://www.ibm.com/thought-leadership/institute-business-value/?lnk=hpv18pt12
/analytics?lnk=hpv18pt1
/security?lnk=hpv18pt9
/financing?lnk=hpv18pt3
https://www.ibm.com/quantum-computing?lnk=hpv18pt16
/cloud/hybrid?lnk=hpv18ct20
/cloud/learn/public-cloud?lnk=hpv18ct1
/cloud/redhat?lnk=hpv18ct13
/watson?lnk=hpv18ct3
https://www.ibm.com/quantum-computing?lnk=hpv18ct18
/cloud/learn/kubernetes?lnk=hpv18ct8
/products/spss-statistics?lnk=ushpv18ct7
/blockchain?lnk=hpv18ct1
https://www.ibm.com/employment?lnk=hpv18ct2
https://www.ibm.com/blogs/think/be-en/2021/07/09/identify-the-right-mvp-use-case/?lnk=hpv18cs1
https://www.ibm.com/case-studies/abn-amro-bank?lnk=hpv18cs2
#

In [56]:
for link in soup.find_all('img'):
    print(link.get('src'))

//1.cms.s81c.com/sites/default/files/2021-09-10/Power%2010%20444x320_0.jpg
//1.cms.s81c.com/sites/default/files/2021-09-16/intelligence%20444x320_0.jpg
//1.cms.s81c.com/sites/default/files/2021-04-20/This%20is%20IBM.jpg
//1.cms.s81c.com/sites/default/files/2021-04-20/ICPO-Environmental-HP-2.jpg
//1.cms.s81c.com/sites/default/files/2021-08-17/Watson-Assistant-23212-700x420_0.png
//1.cms.s81c.com/sites/default/files/2021-07-30/Satellite-Template-444x254-%281%29_0.jpg
//1.cms.s81c.com/sites/default/files/2021-07-30/SAP-Template-444x254-%281%29_0.jpg
//1.cms.s81c.com/sites/default/files/2021-07-30/VM-Template-444x254-%281%29_0.jpg

In [57]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [58]:
data=requests.get(url).text

In [59]:
soup=BeautifulSoup(data,"html5lib")

In [60]:
table=soup.find('table')

In [61]:
for row in table.find_all('tr'):
    cols=row.find_all('td')
    color_name=cols[2].string
    color_code=cols[3].string
    print("{}------>{}".format(color_name,color_code))

Color Name------>None
lightsalmon------>#FFA07A
salmon------>#FA8072
darksalmon------>#E9967A
lightcoral------>#F08080
coral------>#FF7F50
tomato------>#FF6347
orangered------>#FF4500
gold------>#FFD700
orange------>#FFA500
darkorange------>#FF8C00
lightyellow------>#FFFFE0
lemonchiffon------>#FFFACD
papayawhip------>#FFEFD5
moccasin------>#FFE4B5
peachpuff------>#FFDAB9
palegoldenrod------>#EEE8AA
khaki------>#F0E68C
darkkhaki------>#BDB76B
yellow------>#FFFF00
lawngreen------>#7CFC00
chartreuse------>#7FFF00
limegreen------>#32CD32
lime------>#00FF00
forestgreen------>#228B22
green------>#008000
powderblue------>#B0E0E6
lightblue------>#ADD8E6
lightskyblue------>#87CEFA
skyblue------>#87CEEB
deepskyblue------>#00BFFF
lightsteelblue------>#B0C4DE
dodgerblue------>#1E90FF

In [62]:
import pandas as pd

In [63]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

In [64]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [66]:
soup = BeautifulSoup(data,"html5lib")

In [67]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [68]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

26

In [71]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [72]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    171,570,000    143,998   1,191
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,650,000     41,526     425
8    9        Israel      9,420,000     22,072     427
9   10         India  1,383,440,000  3,287,240     421

In [73]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   171570000     143998              1191
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17650000      41526               425
 8     9       Israel     9420000      22072               427
 9    10        India  1383440000    3287240               421]

In [74]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171570000     143998              1191
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17650000      41526               425
8     9       Israel     9420000      22072               427
9    10        India  1383440000    3287240               421

In [75]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [76]:
len(dataframe_list)

26

In [77]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171570000     143998              1191
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17650000      41526               425
8     9       Israel     9420000      22072               427
9    10        India  1383440000    3287240               421

In [78]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171570000     143998              1191
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17650000      41526               425
8     9       Israel     9420000      22072               427
9    10        India  1383440000    3287240               421